
#navbar {
    display: flex;
    justify-content: space-between
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

.nav-button {
    width: 150px;
    text-align: right;
}

#homebutton {
    background-image: url('images/NanaLogoNoMargin.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
}
