
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 16px;
}

#navbar a {
    text-decoration: none;
}

button {
    font-family: inherit;
    font-weight: inherit;
    border: none;
    cursor: pointer;
}

.nav-link {
    display: inline-block;
    font-size: inherit;
    width: 150px;
    text-align: right;
}

#navbar .material-symbols-outlined {
    font-size: 17px;
}
