* {
    background-color: #ffffff;
    color: #141301;
}

body {
    margin: 0px;
    font-size: 14px;
}

#main {
    width: 95%;
    margin: 20px auto 0px auto;
}

.fragment-mono-regular {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.fragment-mono-regular-italic {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

button {
    font-family: inherit;
    font-size: 14px;
    border: none;
    cursor: pointer;

}

#homebutton {
    background-image: url('images/NanaLogoNoMargin.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
}

#navbar {
    display: flex;
    justify-content: space-between
}

.nav-button {
    width: 150px;
    text-align: right;
}

.container {
    display: flex;
    margin-bottom: 40px;
}

.bio {
    flex-grow: 1;
    padding-right: 10px;
}

#profile-img img {
    display: block;
    border-radius: 61% 39% 82% 18% / 43% 73% 27% 57% ;
    width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: 100% 60%;
    margin-top: 30px;
}

.links {
    display: flex;
    align-items: center; 
    margin: auto;
    text-align: center;
}

.links img {
    width: 15px;
    height: 15px;
}

.contact-links img {
    margin-right: 8px;
}

.project-links img {
    margin-right: 5px;
}

.spacer {
    margin-right: 20px;
    margin-left: 20px;
}

.spacer-small {
    margin-right: 5px;
    margin-left: 5px;
}

.project-img img {
    display: block;
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.project-text {
    padding-left: 20px;
    align-items: center; 
}

.project-text img {
    height: 15px;
    width: 15px;
    object-fit: cover;
}

footer {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    padding-right: 1rem;
    position: absolute;
    bottom: 10px;
    right: 0;
    font-size: 14px;
}

footer a {
    font-size: inherit;
}
