* {
    background-color: #ffffff;
    color: #141301;
}

body {
    max-width: 95%;
    margin: 20px auto;
    font-size: 16px;
}

a {
    text-decoration: underline 1.5px;
}

.fragment-mono-regular {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.fragment-mono-regular-italic {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.work-sans-regular-400 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.work-sans-semibold-600 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-regular-400 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-medium-500 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#intro {
    margin-top: 40px;
    width: 70%;
}

#projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 100px;
}
 
.project {
    width: 24%;
    height: 450px;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    overflow: hidden; /* Prevent overflow */
}

.project-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-img a {
    display: block;
    width: 100%;
    height: 100%;
}

.project-img a img {
    width: 100%; /* Ensure the image fills the width of the container */
    height: 100%; /* Ensure the image fills the height of the container */
    object-fit: cover;
}

.project-head {
    display: flex; /* Use flexbox to create two columns */
    justify-content: space-between; /* Push the two elements to the edges */
    align-items: center; /* Align vertically */
    padding: 8px 0; /* Add some spacing above and below */
}

.project-title a {
    font-size: 1em;
}

@media screen and (max-width: 1024px) {
    #projects-container {
        flex-direction: row; /* Keep the row layout */
    }

    .project {
        width: 48%;  /* Adjust to two projects per row */
    }
}

@media screen and (max-width: 768px) {
    #intro {
        width: 100%;
    }
    #projects-container {
        flex-direction: column;
    }
    .project {
        width: 100%;
        flex: none;
    }
}